@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

div > p {
    display:none
}

div:hover > p {
    display: block;
    color: white;
    background-color: brown;
    width: 100px;
}

div:hover {
    color: blue;
}

h2#principal{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.colorido {
    color: aliceblue;
    background-color: black;
}
 
.letra {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
}
 
